<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gestion.Colegial.DataAccess.Properties.Settings.CN"
            connectionString="Data Source=JOHN-EB;Initial Catalog=GestionColegial_desktop_V2.0;Persist Security Info=True;User ID=JonnaH;Password=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>